

/*  Importation de police */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}


p .p2{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 20px;
}

.section2 h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 300; 
}




/* /                  SECTION 1                 / */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Style pour le header */

header {
    display: flex;
    justify-content: left;
    background-color: #ff97a700;
    padding: 25px;
    align-items: center;
}

header:hover {
  background-color: #f6d100; 
  transition: 0.8s;
}



.logoHoly img {
    width: 140px;
}

.identification {
    margin-left: 730px;
   
}

.panier img {
    width: 30px;
    height: auto;
    margin-left: 20px;
}

/* Style pour les liens */
.liens a {
    text-decoration: none;
    color: black;
}


/* l'image, taille et position dans la section hero, couvre toute la zone ect...*/
.hero {
  background-image: url("/Image/newcomer_desktop.webp"); /*  Mettre de préférence l'image en backgroud pour écrire dessus */
  background-size: cover;       
  background-position: center;  
  height: 100vh;                
  width: 100%;  
  margin-top: -100px;                
}

/*  Gérer l'emplacement du texte*/  
.text-hero {
    position: absolute;
    top: 45%;
    left: 3%;
    font-size: 26px;
    
}

/*  Gérer l'emplacement du texte*/  
.text-hero h1{
    font-size: 90px;
    margin-bottom: 20px;

}

/* Taille de l'image*/
.hero img{
  width: 100%;
  height: auto;
}

/* Alignement des A-href */
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: 30px;
}

/* Alignement des text de la section 1 */
.section1 {
    text-align: center;
    background-color: #5C9CE6;
    font-size: 18px;
    
}

/*  Positionnement et taille des logos */  
.section1 img {
    width: 15%;
    height: auto;
    margin-top: 35px;
    

}

.section1 h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.p2 {
    font-size: 18px;
    margin-bottom: 60px;

}



.feature1 {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: #5C9CE6;
}



/* Ajustement de mes texte */
.decalage2 {
    margin-top: 6px;
}

.decalage1 {
    margin-top: 3px;
}

body {
    background-color: #f5a3c0;
}


/* /                  SECTION 2               / */

/*  Positionnement de mon text et logo, le tout sur background noir */  
.backgroundnoir {
    background-color: black;
}

.textlogo img {
    width: 8%;
    margin-top: 14px;
    margin-bottom: 10px;

}

.section2 h2 {
    color: white;
    font-size: 15px;
    margin-top: 14px;
    margin-bottom: 10px;
}

.textlogo {
    display: flex;
    justify-content: center;
    gap: 10px;
}





/* /                  SECTION 3              / */

.textsection3 p {
    padding: 20px;
}



.section3 {
    background-color: #8fbdf2;

}

.formage{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.blockimage{
    padding: 40px;
}


.formage h3{
    font-size: 30px;
    background-color: #FBF7EE;
    margin-top: 0;
    padding: 5px;
}

.formage a {
    text-decoration: none;
    color: inherit;
}

.formage h3:hover {
  background-color: #DFFF7A;
  transition: 0.4s;
}


.article img {
    max-width: 300px;
    display: block;
}
.feature1{
    display: flex;

}

.textsection3 {
    text-align: center;
}

/*  Style et effet sur mes images produits */  



.section3 img {
    transition: all 0.4s cubic-bezier(0.200, 0.84, 0.44, 1);
    
}

.section3 img:hover {      
  filter: brightness(1.10);     
}




/*  effecer l'espace */  

.blockimage {
        display: flex;
        justify-content: center;
}




.textsection3 h1 {
    font-size: 70px;

    
}



.feature2 {
    text-align: center;
}

.feature2 h1{
    font-size: 40px;
    background-color: #f5f5f5;
    display: block;
    margin-bottom: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.feature2 img,h1{
    display: block;
}




.feature2 h1:hover {
  background-color: #d4f252;
  transition: 0.4s;
}



/* /                  SECTION 4           / */


.section4 {
    background-color: #F5EFE3;
}

.section4 img {
    width: 350px;
}


.section4 h1 {
    padding-top: 40px;
    text-align: center;
    
    margin-bottom: 50px;
}




.feature3 {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.feature3 h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.feature3 p {
    text-align: center;
    font-size: 15px;
}
.feature3 .p2 {
    margin-bottom: 20px;
}

.article {
    margin-top: 5px;
}


/* /                  SECTION 5            / */



.section5 {
    
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    background-color: #f2e5cc;
    
}

.séparation img{
    width: 100%;
    height: auto;
    display: block;
}

.section5 button {
    background-color: #f9e400;
    border-radius: 999px;
    padding: 14px 40px;
    margin-left: 40px;
    border: none ;
}


/* /         Page Fiche Produit                  / */

.page-produit {
    background-color: #F7F2E9;
}

.ficheproduit {
    background-color: #F7F2E9;
    display: flex;
}

.produitimage {
    display: flex;
    padding: 40px;
}
.produitimage img {
    width: 550px;
    margin-right: 60px;
}

.produittexte {
    padding: 40px;
    
}
.produittexte h1{
    font-size: 50px;
    margin-bottom: 20px;
    
    
}
.produittexte h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

.etape img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}


.howtodoimg {
    display: flex;
    gap: 40px;
    padding: 40px;
    text-align: center;
    margin-top: 80px;
}

.btn-ajouter {
    background-color: #f9e400;
    border-radius: 30px;
    padding: 14px 40px;
    border: none ;
    font-size: 20px;
    margin-top: 20px;
}

/* /         Page tout les produits de HOLY                  / */


.page-nosproduits {
    background-color: #F5EFE3
}

.bestsellers {
    text-align: center;
    padding: 40px;
    background-color: #6AB6C6;
    border-radius: 10px;
}


.nosproduits {
    padding: 80px;
}


.blockimage img:hover {      
  filter: brightness(1.10);     
}

.blockimage img {
    transition: all 0.4s cubic-bezier(0.200, 0.84, 0.44, 1);
}


/* /         Page contact                  / */

.contact-formulaire {
    padding: 80px;
    display: flex;

    
}

.page-contact {
    background-color: #F5EFE3;
}

